# KHUDA 9기 ML세션
2026.01.29 (목)

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA

In [2]:
# dataset repository path
url = "https://raw.githubusercontent.com/gaeng02/KHUDA-9th-ML/main/week2/dataset.csv"

In [3]:
df = pd.read_csv(url)
df.head()

   id  sepal_length  sepal_width  petal_length  petal_width  target region
0   1           NaN          3.5           1.4          0.2       0  North
1   2           4.9          3.0           1.4          0.2       0  North
2   3           NaN          3.2           1.3          0.2       0   East
3   4           4.6          3.1           1.5          0.2       0   East
4   5           NaN          3.6           1.4          0.2       0   East

In [4]:
### answer init
answer = [0] * 5

## Task 1
df의 feature중 `sepal_length`에는 결측치(NaN)가 있습니다. <br>
`sepal_length` 평균을 구한 뒤 소숫점 2번째 자리에서 반올림 하세요. <br>
그 값으로 결측치를 채우세요. <br>
이때, 해당 평균 값을 `answer[1]`에 저장하세요. <br> <br>

\<hint> `round(value, n)` : value 값을 소숫점 n까지 반올림한다.

In [17]:
## Input Box

df = pd.read_csv(url)
mean_length = 0

mean_length = df['sepal_length'].mean()
mean_length = round(mean_length, 1)
df['sepal_length'] = df['sepal_length'].fillna(mean_length)

answer[1] = mean_length
print(mean_length)

5.9

## Task 2
df의 feature 중 `region`은 문자열 범주형입니다. <br>
`LabelEncoder`을 이용해 `region`을 숫자로 변환하세요. <br>
`transformed region` 값의 총합을 `answer[2]`에 저장하세요.

In [40]:
## Input Box

sum_region = 0

le = LabelEncoder()
le.fit(df['region'])
labes = le.transform(df['region'])

sum_region = labes.sum()

answer[2] = sum_region
print(sum_region)

230

## Task 3
df의 feature 중 숫자 feature (`sepal_length`, `sepal_width`, `petal_length`, `petal_width`)를 표준화하세요. <br>
표준화된 df의 0번째 행의 숫자 feature의 합을 `answer[3]`에 저장하세요.

## Task 4
Task 3에서 완료한 df에 PCA를 적용해 2개의 주성분으로 축소하세요. <br>
2개 주성분 누적 설명분산을 `answer[4]`에 저장하세요.

In [44]:
## Input Box

num_cols = ["sepal_length", "sepal_width", "petal_length", "petal_width"]


df[num_cols] = StandardScaler().fit_transform(df[num_cols])


## Don't Touch!
answer[3] = round(df[num_cols].iloc[0].sum(), 6)
print(answer[3])

-1.613305

In [45]:
df

      id  sepal_length  sepal_width  petal_length  petal_width  target  region
0      1      0.023362     1.019004     -1.340227    -1.315444       0       1
1      2     -1.228153    -0.131979     -1.340227    -1.315444       0       1
2      3      0.023362     0.328414     -1.397064    -1.315444       0       0
3      4     -1.603608     0.098217     -1.283389    -1.315444       0       0
4      5      0.023362     1.249201     -1.340227    -1.315444       0       0
..   ...           ...          ...           ...          ...     ...     ...
145  146      1.024574    -0.131979      0.819596     1.448832       2       2
146  147      0.523968    -1.282963      0.705921     0.922303       2       2
147  148      0.774271    -0.131979      0.819596     1.053935       2       2
148  149      0.398816     0.788808      0.933271     1.448832       2       2
149  150      0.023362    -0.131979      0.762758     0.790671       2       2

[150 rows x 7 columns]

In [43]:
## Input Box


pca = PCA(n_components=2)
pca.fit_transform(df)


## Don't Touch!
answer[4] = round(pca.explained_variance_ratio_.sum(),6)
print(answer[4])

0.999237

# 정답 확인!

In [36]:
print("=== 작성하신 정답 ===")
for i in range (1, 5) : print("Task " + str(i) + " :: " + str(answer[i]))

=== 작성하신 정답 ===
Task 1 :: 5.9
Task 2 :: 230
Task 3 :: -1.613305
Task 4 :: 0.999237

In [41]:
### 정답 채점 코드
import hashlib

ANSWER_URL = "https://raw.githubusercontent.com/gaeng02/KHUDA-9th-ML/main/week2/answer.csv"

def md5 (s) : return hashlib.md5(s.encode("utf-8")).hexdigest()

ans_df = pd.read_csv(ANSWER_URL)
gt = {int(r["task"]): str(r["answer"]).strip().lower()
      for _, r in ans_df.iterrows()}

wrong = []

for i in range(1, 5) :
    user_answer = "" if answer[i] is None else md5(str(answer[i]).strip().lower())
    if (user_answer != gt.get(i, "")) : wrong.append(i)

print("탈출!" if not wrong else f"틀린번호 : {wrong}")

탈출!